body {
    background-color: #051923;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}


header {
    background-color: #00a6fb;
    color: #051923;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #00a6fb;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #006494;
    transition: color 0.3s ease;
}

ul a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

ul a:hover {
    color: #00d9ff;
}

nav a:hover {
    color: #fff;
}

main {
    padding: 20px;
}

section {
    background-color: #0582ca;
    border: 1px solid #00d9ff;
    margin: 50px;
    padding: 20px;
    transition: all 0.3s ease;
    position: relative; 
    height: 500px;   
}

section:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    float: left;
    margin-left: 30px;
}

.carousel-inner .carousel-item img {
    width: 100%;  /* Ajusta el ancho al 100% del contenedor */
    height: auto;  /* La altura se ajustará automáticamente */
    object-fit: cover;
    margin:auto;
}

#carouselExampleFade {
    margin: auto; 
    max-width: 50%; 
    margin-top: 20px; 
}

#carouselExampleFade2 {
    margin: auto; 
    max-width: 50%; 
    margin-top: 20px; 
}

#carouselExampleFade3 {
    margin: auto; 
    max-width: 50%; 
    margin-top: 20px; 
}

#carouselExampleFade4 {
    margin: auto; 
    max-width: 50%; 
    margin-top: 20px; 
}

.subrayado {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .carousel-inner .carousel-item img {
        width: 100%;
        height: auto;
    }

    #carouselExampleFade,
    #carouselExampleFade2,
    #carouselExampleFade3,
    #carouselExampleFade4 {
        max-width: 100%;
    }
}


